div.table-container {
  position: relative;
  width: 90vw;
  margin: 1rem auto;
  overflow-x: auto;
  --webkit-overflow-scrolling: touch; /* Per abilitare lo scrolling fluido su iOS */
  scrollbar-width: none; /* Per Firefox */
  border-radius: 1rem;
}

table.fans-table {
  width: 100%;
  font-size: 1.3rem;
  border-collapse: collapse;
  & > thead {
    background-color: var(--color-bg-dark);
    & > tr {
      & > th {
        padding: 1rem 0.3rem;
        border-right: 0.2rem solid var(--color-primary);
        border-left: 0.2rem solid var(--color-primary);
      }
    }
  }
  & > tbody {
    & > tr {
      background-color: var(--color-bg-dark);
      color: var(--color-primary);
      overflow-y: scroll;
      &:nth-child(even) {
        background-color: #161616;
      }
      & > td {
        height: 1rem;
        padding: 0.5rem 0.3rem;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  table.fans-table {
    width: 150vw;
  }
}
