div.form-container {
  margin: 10rem auto;
  width: 34rem;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

form.auth {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 6px #000;
  color: var(--color-primary);
  background-color: var(--color-bg-dark);
  padding: 0 6rem;
  transition: transform 0.3s ease-in-out;
  &.signup {
    transform: translateX(100%);
    &.visible {
      transform: translateX(0);
    }
  }

  > h4 {
    text-align: center;
    padding: 1rem 0;
  }

  > div {
    width: 100%;
    font-size: var(--font-size-md);
    cursor: text;

    &:not(:first-child) {
      margin-top: 0.6rem;
    }

    > label,
    input {
      width: 100%;
      margin: 0;
    }

    > label {
      font-size: var(--font-size-md);
    }

    > input,
    input.input-password {
      position: relative;
      color: var(--color-primary);
      font-size: var(--font-size-sm);
      padding: 0.5rem 0.4rem;
      background-color: var(--color-bg-dark);
      outline: none;
      border: none;
      border-bottom: 1px solid var(--color-primary);
      margin-top: 0.5rem;
      cursor: text;
    }
  }

  div.input-password-container {
    position: relative;
    display: flex;

    > span {
      position: absolute;
      right: 0.5rem;
      cursor: pointer;
      color: var(--color-primary);
      font-size: var(--font-size-sm);
    }
  }

  > input[type="submit"] {
    width: 100%;
    display: block;
    margin: 3rem 0 2rem 0;
  }

  > h6 {
    font-size: var(--font-size-sm);
    font-weight: 400;

    > span.signup-text {
      cursor: pointer;
      font-weight: 600;
      font-size: var(--font-size-sm);
    }
  }
}
