@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Colori */
  --color-primary: #ffb700;
  --color-secondary: #ff6f61;
  --color-important: #b7f8ed; /* colore importante */
  --color-bg: #201f1f;
  --color-bg-dark: #121212;
  --color-bg-light: #3b3b3b;

  /* Font size */
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-normal: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;

  /* Screens */
  --screen-tablet: 950px;
  --screen-mobile: 600px;
  --screen-mobile-sm: 450px;
}

html {
  box-sizing: border-box;
  font-size: 16px; /* base size per rem */
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Urbanist", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
}

*::placeholder {
  font-family: "Urbanist", sans-serif;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 12px; /* 15px per tablet */
  }
}
