section.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../../assets/images/Hero.png") no-repeat;
  background-size: cover;
  & > div.content {
    position: relative;
    width: 42rem;
    z-index: 2; /* Ensure content is above the overlay */
    line-height: 1.3;
    & > h2 {
      text-align: left;
    }
    & > h4 {
      text-align: left;
    }
  }
  & > div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is behind the content */
  }
}

div.search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0.1rem solid var(--color-important);
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  margin: 2rem auto;
  & > div.submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    top: 50%;
    & > svg {
      width: 2rem;
      height: auto;
      color: var(--color-important);
      &.clear-value-icon {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  section.hero {
    > div.content {
      width: 80%;
    }
  }
}
