header {
  z-index: 3;
  margin: 0 auto;
  left: 10vw;
  top: 0.7rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  position: sticky;
  width: 50vw;
  height: 6vh;
  padding: 2rem 1.5rem;
  background: #0f0f0f;
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 0.5) 0%,
    rgba(23, 23, 23, 1) 25%,
    rgba(15, 15, 15, 0.7) 50%,
    rgba(18, 16, 16, 0.5) 75%,
    rgba(20, 20, 20, 1) 100%
  );
  border: 1px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-sm);
  & > nav {
    position: sticky;
    & > ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      & > li > a {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        padding: 0.2rem 0;
        & > svg {
          width: 1.8rem;
          height: 1.8rem;
          fill: var(--color-primary);
        }
        &.current {
          border-bottom: 0.1rem solid var(--color-secondary);
          color: var(--color-secondary);
          & > svg {
            fill: var(--color-secondary);
          }
        }
      }
    }
  }
  & > svg.menu-icon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
    transition: transform 0.3s ease-in-out;
    display: none;
    &.active {
      transform: rotate(-90deg);
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    margin-top: 0;
    padding: 0 2rem;
    width: 100vw;
    border: none;
    top: 0;
    border-radius: 0;
    & > nav {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 6vh;
      left: 0;
      transform: translateX(100vw);
      transition: transform 0.3s ease-in-out;
      z-index: 10;
      &.active {
        transform: translateX(0);
      }
      & > ul {
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-bg-dark);
        width: 100%;
        height: 100%;
        font-size: var(--font-size-lg);
        & > li {
          margin-left: 3.5rem;
          & > a {
            & > svg {
              width: 2.5rem;
              height: 2.5rem;
            }
          }
        }
      }
    }
    a.button-link {
      width: 90%;
      position: fixed;
      bottom: 2rem;
      &.visible {
        opacity: 1;
      }
      & > button {
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 10;
      }
      & > svg.menu-icon {
        display: block;
        position: sticky;
      }
    }
  }
}
